[user]
  name = Daniel Young
  email = young.daniel88@gmail.com
[core]
  editor = subl -w
  excludesfile = /Users/danielyoung/.gitignore
[color]
  ui = always
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[alias]
  co = checkout
  s = status -s -b
  d = diff
[advice]
  statusHints = false
